@model Project.ViewModels.NewsHomeViewModel

<section class="page-index1">
    <div class="page-days__content">
        <div class="page-days__header">
            <h1 class="page-days__header">@ViewData["date"]</h1>
            <div class="page-index3__itemContentLink">
                <div class="page-index3__itemLinkBlock">
                    <img class="page-index3__itemLinkIcon" src="./images/twitterIcon.svg" />
                </div>
                <div class="page-index3__itemLinkBlock">
                    <img class="page-index3__itemLinkIcon" src="./images/facebookIcon.svg" />
                </div>
                <div class="page-index3__itemLinkBlock">
                    <img class="page-index3__itemLinkIcon" src="./images/linkedinIcon.svg" />
                </div>
                <div class="page-index3__itemLinkBlock">
                    <img class="page-index3__itemLinkIcon" src="./images/emailIcon.svg" />
                </div>
                <div class="page-index3__itemLinkBlock">
                    <img class="page-index3__itemLinkIcon" src="./images/redditIcon.svg" />
                </div>
                <div class="page-index3__itemLinkBlock">
                    <img class="page-index3__itemLinkIcon" src="./images/whatsappIcon.svg" />
                </div>
            </div>
        </div>
        <div class="page-days__desc">
            @foreach (News news in Model.MainNewses)
            {
                <div class="page-days__desc-content">
                    <h3>@char.ConvertFromUtf32(int.Parse(news.Category.Emoji.Substring(2), System.Globalization.NumberStyles.HexNumber))&nbsp;@news.Header</h3>
                    <p>@news.Context</p>
                    @if (news.Descriptions != null)
                    {<a href="/details?id=@news.Id">Go deeper →</a>}
                </div>
            }
        </div>
    </div>
</section>
<section class="page-index2">
    @(await Html.RenderComponentAsync<Project.Views.Shared.Components.Pages.FillEmail>(RenderMode.ServerPrerendered))
</section>
<section class="page-index3">
    <div class="page-index3__items">
        @foreach (var news in Model.MainNewses)
        {
            if (news.Descriptions.Count <= 0)
            {
                @(await Html.RenderComponentAsync<Project.Views.Shared.Components.Pages.NewsByCategoryDemo>(RenderMode.ServerPrerendered, new
            { header = news.Header, date = news.CreatedAt.ToLongDateString(), category = news.Category.Name,
                color = news.Category.Color, context = news.Context }))
            }
            else
            {
                @(await Html.RenderComponentAsync<Project.Views.Shared.Components.Pages.NewsByCategoryFull>(RenderMode.ServerPrerendered, new
            { id = news.Id, header = news.Header, date = news.CreatedAt.ToLongDateString(), category = news.Category.Name,
               color = news.Category.Color, context = news.Context, image = news.ImageLink}))
            }
        }
    </div>
</section>
